/* =========================================
   GENERAL
========================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e8e0d1;
    color: #171714;
    font-family: "Cormorant Garamond", serif;
}


/* =========================================
   CONTENEDOR PRINCIPAL
========================================= */

.invitacion {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 60% 40%;

    background: #f7f6f1;
}


/* =========================================
   PORTADA IZQUIERDA
========================================= */

.portada {
    position: relative;
    min-height: 950px;

    background: #f8f8f4;

    overflow: hidden;

    border-right: 1px solid #ddd5c5;
}


.contenido-portada {
    width: 85%;
    margin: auto;

    text-align: center;

    padding-top: 90px;

    position: relative;
    z-index: 2;
}


/* =========================================
   DECORACIÓN FLORAL
========================================= */

.flores {
    position: absolute;

    color: #b9ad8e;


    opacity: .35;

    z-index: 1;
}

.flores-superior {
    size: 200px;
}

.flores-inferior {
    bottom: 0px;
    left: 0px;

   /* transform: rotate(30deg);*/
}


/* =========================================
   TEXTO SUPERIOR
========================================= */

.intro {
    font-size: 20px;

    font-weight: 600;

    line-height: 1.15;

    letter-spacing: 1px;

    margin-bottom: 25px;
}


/* =========================================
   NOMBRES
========================================= */

h1 {
    font-family: "Great Vibes", cursive;

    font-size: 105px;

    font-weight: 400;

    line-height: .85;

    margin-bottom: 45px;
}

h1 span {
    display: block;

    font-family: "Cormorant Garamond", serif;

    font-size: 50px;

    margin: 5px 0;
}


/* =========================================
   TITULO
========================================= */

.portada h2 {
    font-size: 25px;

    font-weight: 700;

    margin-bottom: 30px;
}


/* =========================================
   FECHA
========================================= */

.fecha {
    display: grid;

    grid-template-columns: 1fr 150px 1fr;

    align-items: center;

    width: 90%;

    margin: 0 auto 30px;
}


.fecha-bloque {
    border-top: 1px solid #b8a98a;
    border-bottom: 1px solid #b8a98a;

    padding: 12px 5px;

    font-size: 21px;

    font-weight: 600;
}


.fecha-central {
    border-left: 1px solid #b8a98a;
    border-right: 1px solid #b8a98a;

    /*display: flex;*/

    flex-direction: column;

    align-items: center;
}


.fecha-central strong {
    font-size: 58px;

    line-height: .8;
}


.fecha-central span {
    font-size: 23px;

    font-weight: 700;

    line-height: 1.05;
}


/* =========================================
   LUGARES
========================================= */

.lugares {
    font-size: 25px;

    font-weight: 600;

    line-height: 1.25;

    margin-top: 25px;
}

.lugares p {
    margin-bottom: 20px;
}


/* =========================================
   CORAZONES
========================================= */

.corazon {
    color: #b79b58;

    font-size: 25px;

    margin: 5px 0;
}


/* =========================================
   MENSAJE
========================================= */

.mensaje {
    font-size: 24px;

    line-height: 1.2;

    font-weight: 500;

    margin: 15px 0 25px;
}


/* =========================================
   FOTOS CIRCULARES
========================================= */

.fotos {
    display: flex;

    justify-content: center;

    gap: 30px;

    margin-top: 15px;
}


.foto-circular {
    width: 190px;
    height: 190px;

    border-radius: 50%;

    padding: 7px;

    border: 2px solid #b79b58;

    background: #f7f3e8;
}


.foto-circular img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    border-radius: 50%;

    display: block;
}


/* =========================================
   JUNTOS
========================================= */

.juntos {
    font-size: 27px;

    margin-top: 15px;

    font-weight: 600;
}

.pequeño {
    font-size: 18px;
}


/* =========================================
   INFORMACIÓN DERECHA
========================================= */

.informacion {
    background: #e9dfcd;

    padding: 70px 55px;

    min-height: 950px;
}


.informacion > h2 {
    text-align: center;

    font-size: 37px;

    line-height: 1.05;

    margin-bottom: 55px;

    font-weight: 700;
}


/* =========================================
   ELEMENTOS INFORMACIÓN
========================================= */

.info-item {
    display: grid;

    grid-template-columns: 55px 1fr;

    gap: 15px;

    margin-bottom: 40px;
}


.icono {
    font-size: 40px;

    line-height: 1;

    text-align: center;
}


.info-item h3 {
    font-size: 27px;

    line-height: 1;

    margin-bottom: 8px;

    font-weight: 700;
}


.info-item p {
    font-size: 22px;

    line-height: 1.05;

    font-weight: 500;

    margin-bottom: 15px;
}


/* =========================================
   BOTONES
========================================= */

.boton {
    display: inline-block;

    background: #60694c;

    color: white;

    text-decoration: none;

    padding: 9px 16px;

    border-radius: 7px;

    font-size: 19px;

    transition: .2s;
}


.boton:hover {
    background: #4d563c;

    transform: translateY(-2px);
}


/* =========================================
   AGRADECIMIENTO
========================================= */

.agradecimiento {
    display: flex;

    align-items: center;

    gap: 20px;

    margin-top: 130px;

    font-size: 22px;

    line-height: 1.1;
}


.agradecimiento span {
    color: #b79b58;

    font-size: 30px;
}


/* =========================================
   FOOTER
========================================= */

footer {
    grid-column: 1 / -1;

    background: #e4d7c0;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    padding: 25px 50px;
}


.footer-item {
    display: flex;

    align-items: flex-start;

    gap: 15px;

    padding: 0 30px;
}


.footer-item + .footer-item {
    border-left: 1px solid #bcae94;
}


.footer-icon {
    font-size: 35px;
}


.footer-item h3 {
    font-size: 22px;

    margin-bottom: 5px;
}


.footer-item p {
    font-size: 18px;

    line-height: 1.05;
}


/* =========================================
   RESPONSIVE
========================================= */

@media (max-width: 900px) {

    .invitacion {
        grid-template-columns: 1fr;
    }

    .portada {
        min-height: auto;
    }

    .informacion {
        min-height: auto;
    }

    footer {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .footer-item {
        padding: 15px;
    }

    .footer-item + .footer-item {
        border-left: none;

        border-top: 1px solid #bcae94;
    }

}


@media (max-width: 600px) {

    .contenido-portada {
        width: 92%;

        padding-top: 60px;
    }

    h1 {
        font-size: 75px;
    }

    h1 span {
        font-size: 35px;
    }

    .intro {
        font-size: 16px;
    }

    .portada h2 {
        font-size: 20px;
    }

    .fecha {
        grid-template-columns: 1fr 100px 1fr;
    }

    .fecha-bloque {
        font-size: 15px;
    }

    .fecha-central strong {
        font-size: 45px;
    }

    .fecha-central span {
        font-size: 17px;
    }

    .lugares {
        font-size: 20px;
    }

    .mensaje {
        font-size: 20px;
    }

    .foto-circular {
        width: 130px;
        height: 130px;
    }

    .informacion {
        padding: 50px 25px;
    }

    .informacion > h2 {
        font-size: 30px;
    }

    .info-item h3 {
        font-size: 23px;
    }

    .info-item p {
        font-size: 19px;
    }

}
